.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 200px 0 100px rgba(172, 163, 170, 0.815);
}
.playercard {
  width: 23%;
  background-color: rgba(171, 196, 196, 0.562);
  border: 10px solid rgba(171, 196, 196, 0.762);
  padding: 2%;
  margin: 2%;
  height: 20vh;
  border-radius: 10px;

  box-shadow: 0 0 30px rgba(55, 196, 231, 0.932);
}
.dark-mode__toggle {
  background: rgba(92, 92, 92, 0.253);
  border-radius: 50px;
  border: 3px solid black;
  height: 40px;
  position: relative;
  width: 80px;
  margin: 1% auto;
}

.toggle {
  background: rgba(55, 196, 231, 0.719);
  border-radius: 50px;
  height: 40px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 40px;
}

.toggled {
  left: 38px;
  background: rgba(231, 55, 193, 0.815);
}

.dark-mode .playercard {
  background-color: rgba(221, 180, 231, 0.473);
  border: 10px solid rgba(221, 180, 231, 0.873);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(231, 55, 193, 0.815);
}
body {
  background-color: rgb(231, 227, 220);
}
